<h1>Products</h1>
<% @products.each do |product| %>
	<p>
		<b><%= product.name %></b><br>
		Price: Rs.<%= product.price  %> |
		<%= link_to "Edit", edit_product_path(product) %> |
		<%= link_to "Delete", product_path(product), method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
	</p>
<% end %>